In [7]:
import pygrib

grbs = pygrib.open('temp')

In [8]:
grb = grbs.select(name='Temperature')[-1]

In [69]:
grb.data()[0].data[180,0]

201.71119140625

In [68]:
grb.data(lat1=0,lat2=0,lon1=0,lon2=0)

(masked_array(data=[[201.71119140625]],
              mask=[[False]],
        fill_value=9999.0),
 array([[0.]]),
 array([[0.]]))

In [3]:
for grb in grbs:
    print(grb)

1:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 1000 Pa:fcst time 0 hrs:from 202311050600:ens mean
2:Temperature:K (instant):regular_ll:isobaricInhPa:level 1000 Pa:fcst time 0 hrs:from 202311050600:ens mean
3:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 1000 Pa:fcst time 0 hrs:from 202311050600:ens mean
4:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 1000 Pa:fcst time 0 hrs:from 202311050600:ens mean
5:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 1000 Pa:fcst time 0 hrs:from 202311050600:ens mean
6:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 5000 Pa:fcst time 0 hrs:from 202311050600:ens mean
7:Temperature:K (instant):regular_ll:isobaricInhPa:level 5000 Pa:fcst time 0 hrs:from 202311050600:ens mean
8:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 5000 Pa:fcst time 0 hrs:from 202311050600:ens mean
9:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 5000 Pa:fcst time 0 hrs:from 202311050600:ens mean
10:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 5000 Pa:fcst time 0 hrs:from 202311050600:ens mean
11:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 10000 Pa:fcst time 0 hrs:from 202311050600:ens mean
12:Temperature:K (instant):regular_ll:isobaricInhPa:level 10000 Pa:fcst time 0 hrs:from 202311050600:ens mean
13:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 10000 Pa:fcst time 0 hrs:from 202311050600:ens mean
14:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 10000 Pa:fcst time 0 hrs:from 202311050600:ens mean
15:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 10000 Pa:fcst time 0 hrs:from 202311050600:ens mean
16:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 20000 Pa:fcst time 0 hrs:from 202311050600:ens mean
17:Temperature:K (instant):regular_ll:isobaricInhPa:level 20000 Pa:fcst time 0 hrs:from 202311050600:ens mean
18:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 20000 Pa:fcst time 0 hrs:from 202311050600:ens mean
19:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 20000 Pa:fcst time 0 hrs:from 202311050600:ens mean
20:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 20000 Pa:fcst time 0 hrs:from 202311050600:ens mean
21:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 25000 Pa:fcst time 0 hrs:from 202311050600:ens mean
22:Temperature:K (instant):regular_ll:isobaricInhPa:level 25000 Pa:fcst time 0 hrs:from 202311050600:ens mean
23:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 25000 Pa:fcst time 0 hrs:from 202311050600:ens mean
24:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 25000 Pa:fcst time 0 hrs:from 202311050600:ens mean
25:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 25000 Pa:fcst time 0 hrs:from 202311050600:ens mean
26:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 30000 Pa:fcst time 0 hrs:from 202311050600:ens mean
27:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 30000 Pa:fcst time 0 hrs:from 202311050600:ens mean
28:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 30000 Pa:fcst time 0 hrs:from 202311050600:ens mean
29:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 40000 Pa:fcst time 0 hrs:from 202311050600:ens mean
30:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 40000 Pa:fcst time 0 hrs:from 202311050600:ens mean
31:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 50000 Pa:fcst time 0 hrs:from 202311050600:ens mean
32:Temperature:K (instant):regular_ll:isobaricInhPa:level 50000 Pa:fcst time 0 hrs:from 202311050600:ens mean
33:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 50000 Pa:fcst time 0 hrs:from 202311050600:ens mean
34:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 50000 Pa:fcst time 0 hrs:from 202311050600:ens mean
35:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 50000 Pa:fcst time 0 hrs:from 202311050600:ens mean
36:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 70000 Pa:fcst time 0 hrs:from 202311050600:ens mean
37:Temperature:K (instant):regular_ll:isobaricInhPa:level 70000 Pa:fcst time 0 hrs:from 202311050600:ens mean
38:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 70000 Pa:fcst time 0 hrs:from 202311050600:ens mean
39:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 70000 Pa:fcst time 0 hrs:from 202311050600:ens mean
40:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 70000 Pa:fcst time 0 hrs:from 202311050600:ens mean
41:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 85000 Pa:fcst time 0 hrs:from 202311050600:ens mean
42:Temperature:K (instant):regular_ll:isobaricInhPa:level 85000 Pa:fcst time 0 hrs:from 202311050600:ens mean
43:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 85000 Pa:fcst time 0 hrs:from 202311050600:ens mean
44:Vertical velocity:Pa s**-1 (instant):regular_ll:isobaricInhPa:level 85000 Pa:fcst time 0 hrs:from 202311050600:ens mean
45:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 85000 Pa:fcst time 0 hrs:from 202311050600:ens mean
46:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 85000 Pa:fcst time 0 hrs:from 202311050600:ens mean
47:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 92500 Pa:fcst time 0 hrs:from 202311050600:ens mean
48:Temperature:K (instant):regular_ll:isobaricInhPa:level 92500 Pa:fcst time 0 hrs:from 202311050600:ens mean
49:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 92500 Pa:fcst time 0 hrs:from 202311050600:ens mean
50:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 92500 Pa:fcst time 0 hrs:from 202311050600:ens mean
51:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 92500 Pa:fcst time 0 hrs:from 202311050600:ens mean
52:Temperature:K (instant):regular_ll:isobaricInhPa:level 100000 Pa:fcst time 0 hrs:from 202311050600:ens mean
53:Relative humidity:% (instant):regular_ll:isobaricInhPa:level 100000 Pa:fcst time 0 hrs:from 202311050600:ens mean
54:U component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 100000 Pa:fcst time 0 hrs:from 202311050600:ens mean
55:V component of wind:m s**-1 (instant):regular_ll:isobaricInhPa:level 100000 Pa:fcst time 0 hrs:from 202311050600:ens mean
56:Geopotential height:gpm (instant):regular_ll:isobaricInhPa:level 100000 Pa:fcst time 0 hrs:from 202311050600:ens mean
57:Surface pressure:Pa (instant):regular_ll:surface:level 0:fcst time 0 hrs:from 202311050600:ens mean
58:Orography:m (instant):regular_ll:surface:level 0:fcst time 0 hrs:from 202311050600:ens mean
59:Soil temperature:K (instant):regular_ll:depthBelowLandLayer:levels 0.0-0.1 m:fcst time 0 hrs:from 202311050600:ens mean
60:Volumetric soil moisture content:Proportion (instant):regular_ll:depthBelowLandLayer:levels 0.0-0.1 m:fcst time 0 hrs:from 202311050600:ens mean
61:Water equivalent of accumulated snow depth (deprecated):kg m**-2 (instant):regular_ll:surface:level 0:fcst time 0 hrs:from 202311050600:ens mean
62:Snow depth:m (instant):regular_ll:surface:level 0:fcst time 0 hrs:from 202311050600:ens mean
63:Ice thickness:m (instant):regular_ll:surface:level 0:fcst time 0 hrs:from 202311050600:ens mean
64:2 metre temperature:K (instant):regular_ll:heightAboveGround:level 2 m:fcst time 0 hrs:from 202311050600:ens mean
65:2 metre relative humidity:% (instant):regular_ll:heightAboveGround:level 2 m:fcst time 0 hrs:from 202311050600:ens mean
66:10 metre U wind component:m s**-1 (instant):regular_ll:heightAboveGround:level 10 m:fcst time 0 hrs:from 202311050600:ens mean
67:10 metre V wind component:m s**-1 (instant):regular_ll:heightAboveGround:level 10 m:fcst time 0 hrs:from 202311050600:ens mean
68:Precipitable water:kg m**-2 (instant):regular_ll:atmosphereSingleLayer:level 0 considered as a single layer:fcst time 0 hrs:from 202311050600:ens mean
69:Convective available potential energy:J kg**-1 (instant):regular_ll:pressureFromGroundLayer:levels 18000-0 Pa:fcst time 0 hrs:from 202311050600:ens mean
70:Convective inhibition:J kg**-1 (instant):regular_ll:pressureFromGroundLayer:levels 18000-0 Pa:fcst time 0 hrs:from 202311050600:ens mean
71:Pressure reduced to MSL:Pa (instant):regular_ll:meanSea:level 0:fcst time 0 hrs:from 202311050600:ens mean

In [2]:
import boto3
from botocore import UNSIGNED
from botocore.client import Config
from datetime import datetime
import time
import pygrib
import pandas as pd

ct_df = pd.read_csv("uscities.csv")[:1000]
lls = list(zip(ct_df['lat'], ct_df['lng']))

dt = datetime.now()
file_dt = "".join(list(map(str,[dt.year,dt.month,f"{dt.day:02d}"])))

client = boto3.client('s3', config=Config(signature_version=UNSIGNED))
bucket = client.list_objects(Bucket='noaa-gefs-pds', Prefix = "gefs."+file_dt+"/", Delimiter="/",)

while True:
    if bucket.get('CommonPrefixes') is not None:
        fldr = bucket.get('CommonPrefixes')[-1].get('Prefix')
        break
    else:
        time.sleep(300)

cycle = fldr.split('/')[-2]
base = f'{fldr[:-1]}/atmos/pgrb2ap5/gec00.t{cycle}z.pgrb2a.0p50.f'
files = []
for i in range(0,243,3):
    files.append(base+f"{i:03d}")
for i in range(246,390,6):
    files.append(base+f"{i}")


def process(file, cycle):
    grbs = pygrib.open(file)
    grb = grbs.select(name='Temperature')[-1]
    data = grb.data()[0]
    
    def f(lat, lon):
        return round(abs(data[int(round(-2*lat)+180),int(round(2*lon))]*1.8-459.67-65),2)
    
    ct_df['dd_'+cycle] = [f(lat, lon) for lat,lon in lls]
    
    grbs.close()

while files:
    idx = int(files[0].split(".")[-1][-3:])
    print(files[0])
    try:
        if idx%24==0 and idx>0:
            ct_df['dd'] = (ct_df['dd_00']+ct_df['dd_03']+ct_df['dd_06']+ct_df['dd_09']+ct_df['dd_12']+ct_df['dd_15']+ct_df['dd_18']+ct_df['dd_21'])/8
            break

        client.download_file('noaa-gefs-pds', files[0], 'temp')
        process('temp', f"{idx%24:02d}")
        
    except Exception as e:
        print(e)
        # time.sleep(60)
        break
    del files[0]

gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f000
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f003
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f006
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f009
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f012
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f015
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f018
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f021
gefs.20231106/06/atmos/pgrb2ap5/gec00.t06z.pgrb2a.0p50.f024

In [28]:
len(ct_df["city"])

1000

In [4]:
result_df = ct_df.groupby(['state_name', 'city'])[['population', 'dd']].apply(lambda x: (x['population'] * x['dd']).sum()).reset_index()
result_df.columns = ['state_name', 'city', 'dd']
result_df

    state_name        city            dd
0      Alabama    Anniston  4.827462e+05
1      Alabama      Auburn  4.976857e+05
2      Alabama  Birmingham  3.518976e+06
3      Alabama     Decatur  4.206127e+05
4      Alabama      Dothan  3.504532e+05
..         ...         ...           ...
995  Wisconsin      Wausau  8.602161e+05
996  Wisconsin  West Allis  3.924086e+05
997  Wisconsin   West Bend  4.796046e+05
998    Wyoming      Casper  3.497922e+05
999    Wyoming    Cheyenne  7.277656e+05

[1000 rows x 3 columns]

In [19]:
result_df = ct_df.groupby('state_name').apply(lambda x: (x['population'] * x['dd']).sum()).reset_index()
result_df.columns = ['state_name', 'dd_state']

In [20]:
result_df

              state_name      dd_state
0                Alabama  1.139469e+07
1                 Alaska  1.261980e+07
2                Arizona  1.639478e+08
3               Arkansas  7.867154e+06
4             California  2.153633e+08
5               Colorado  6.001215e+07
6            Connecticut  7.193245e+07
7               Delaware  2.424264e+06
8   District of Columbia  4.588777e+07
9                Florida  1.402921e+08
10               Georgia  4.289303e+07
11                Hawaii  1.120529e+07
12                 Idaho  4.383550e+06
13              Illinois  6.581124e+07
14               Indiana  3.143581e+07
15                  Iowa  7.170168e+06
16                Kansas  5.919881e+06
17              Kentucky  1.300875e+07
18             Louisiana  1.368958e+07
19                 Maine  5.544188e+06
20              Maryland  5.491480e+07
21         Massachusetts  1.524916e+08
22              Michigan  7.545675e+07
23             Minnesota  5.613433e+07
24           Mississippi  3.705078e+06
25              Missouri  2.222010e+07
26               Montana  2.324250e+06
27              Nebraska  4.824267e+06
28                Nevada  4.791182e+07
29         New Hampshire  1.377122e+07
30            New Jersey  3.700629e+07
31            New Mexico  2.000777e+07
32              New York  5.404400e+08
33        North Carolina  4.057359e+07
34          North Dakota  7.415977e+06
35                  Ohio  7.810581e+07
36              Oklahoma  1.517133e+07
37                Oregon  3.927279e+07
38          Pennsylvania  1.512633e+08
39           Puerto Rico  5.127298e+07
40          Rhode Island  3.205853e+07
41        South Carolina  1.356030e+07
42          South Dakota  1.784238e+06
43             Tennessee  2.808152e+07
44                 Texas  2.176446e+08
45                  Utah  2.987969e+07
46               Vermont  3.039978e+06
47              Virginia  3.228263e+07
48            Washington  8.829886e+07
49         West Virginia  6.155629e+06
50             Wisconsin  2.341882e+07
51               Wyoming  1.077558e+06

In [12]:

ct_df[ct_df['state_name']=="California"]

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,...,id,dd_00,dd_03,dd_06,dd_09,dd_12,dd_15,dd_18,dd_21,dd
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,...,1840020491,1.01,0.63,0.24,0.25,3.45,5.25,3.81,0.81,1.93125
13,San Francisco,San Francisco,CA,California,6075,San Francisco,37.7558,-122.4449,3290197,7199.4,...,1840021543,5.47,5.13,6.60,5.83,3.39,3.03,4.65,8.55,5.33125
14,San Diego,San Diego,CA,California,6073,San Diego,32.8313,-117.1222,3084174,1675.9,...,1840021990,6.05,6.03,3.66,4.07,7.95,10.65,7.77,3.33,6.18875
24,Riverside,Riverside,CA,California,6065,Riverside,33.9381,-117.3949,2022285,1557.0,...,1840020551,9.29,7.83,5.28,4.79,9.21,13.35,10.29,3.33,7.92125
26,Sacramento,Sacramento,CA,California,6067,Sacramento,38.5677,-121.4685,1924167,1971.3,...,1840021491,2.95,2.97,4.44,4.75,2.31,2.19,2.01,4.59,3.27625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,Rowland Heights,Rowland Heights,CA,California,6037,Los Angeles,33.9716,-117.8912,48765,1473.8,...,1840019211,5.33,4.59,2.94,2.27,6.51,9.75,7.05,3.51,5.24375
990,El Dorado Hills,El Dorado Hills,CA,California,6017,El Dorado,38.6750,-121.0490,48612,375.3,...,1840017565,1.51,6.21,4.80,5.11,1.41,0.21,0.51,5.67,3.17875
992,North Highlands,North Highlands,CA,California,6067,Sacramento,38.6713,-121.3721,48424,2132.2,...,1840018841,2.95,2.97,4.44,4.75,2.31,2.19,2.01,4.59,3.27625
993,Antelope,Antelope,CA,California,6067,Sacramento,38.7153,-121.3610,48421,2737.4,...,1840022490,2.95,2.97,4.44,4.75,2.31,2.19,2.01,4.59,3.27625
999,Rancho Santa Margarita,Rancho Santa Margarita,CA,California,6059,Orange,33.6318,-117.5988,48190,1441.9,...,1840020584,3.53,2.25,0.96,0.47,5.07,6.69,4.53,0.09,2.94875

In [8]:
ct_df["lol"] = [11.80007812499997, 0.07992187500002501, 17.920078124999975, 7.999921874999984, 2.8000781249999704, 0.259921874999975, 14.140078125000002, 11.44007812500007, 12.520078124999998, 15.580078124999943]

In [9]:
lls = zip(ct_df['lat'], ct_df['lng'])
data = grb.data()[0]

def f(lat, lon):
    print(data[int(round(-2*lat)+180),int(round(2*lon))])
    return abs(data[int(round(-2*lat)+180),int(round(2*lon))]*1.8-459.67-65)

ct_df['dd_00'] = [f(lat, lon) for lat,lon in lls]

284.927734375
291.527734375
281.527734375
295.927734375
289.927734375
291.627734375
283.627734375
285.127734375
284.527734375
282.82773437500003

In [10]:
ct_df

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id,dd_00
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 1138...,1840034016,11.800078
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491,0.079922
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494,17.920078
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149,7.999922
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 7503...,1840019440,2.800078
5,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5650910,1394.6,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925,0.259922
6,Philadelphia,Philadelphia,PA,Pennsylvania,42101,Philadelphia,40.0077,-75.1339,5512873,4544.9,shape,False,True,America/New_York,1,19154 19151 19150 19153 19152 19102 19103 1910...,1840000673,14.140078
7,Atlanta,Atlanta,GA,Georgia,13121,Fulton,33.7628,-84.4220,5046555,1419.9,shape,False,True,America/New_York,1,30334 30331 30332 30309 30308 30303 30354 3032...,1840013660,11.440078
8,Washington,Washington,DC,District of Columbia,11001,District of Columbia,38.9047,-77.0163,4810669,4434.0,shape,False,True,America/New_York,1,20250 20010 20011 20012 20015 20520 20064 2041...,1840006060,12.520078
9,Boston,Boston,MA,Massachusetts,25025,Suffolk,42.3188,-71.0852,4208580,5505.8,shape,False,True,America/New_York,1,02120 02121 02122 02124 02125 02126 02127 0212...,1840000455,15.580078

In [51]:
grb.data(lat1=34, lat2=34.5, lon1=241.5, lon2=242)

(array([[297. , 298.8],
        [292.7, 294.9]]),
 array([[34.5, 34.5],
        [34. , 34. ]]),
 array([[241.5, 242. ],
        [241.5, 242. ]]))

In [20]:
ct_df

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id,dd_00
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18972871,10768.2,shape,False,True,America/New_York,1,11229 11226 11225 11224 11223 11221 11220 1138...,1840034016,12.75
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,12121244,3267.6,shape,False,True,America/Los_Angeles,1,90291 90293 90292 91316 91311 90035 90034 9003...,1840020491,2.19
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8595181,4576.6,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494,17.79
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,5711945,4945.7,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149,9.39
4,Dallas,Dallas,TX,Texas,48113,Dallas,32.7935,-96.7667,5668165,1522.2,shape,False,True,America/Chicago,1,75287 75098 75234 75254 75251 75252 75253 7503...,1840019440,2.49
5,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5650910,1394.6,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925,0.21
6,Philadelphia,Philadelphia,PA,Pennsylvania,42101,Philadelphia,40.0077,-75.1339,5512873,4544.9,shape,False,True,America/New_York,1,19154 19151 19150 19153 19152 19102 19103 1910...,1840000673,14.37
7,Atlanta,Atlanta,GA,Georgia,13121,Fulton,33.7628,-84.4220,5046555,1419.9,shape,False,True,America/New_York,1,30334 30331 30332 30309 30308 30303 30354 3032...,1840013660,11.13
8,Washington,Washington,DC,District of Columbia,11001,District of Columbia,38.9047,-77.0163,4810669,4434.0,shape,False,True,America/New_York,1,20250 20010 20011 20012 20015 20520 20064 2041...,1840006060,13.11
9,Boston,Boston,MA,Massachusetts,25025,Suffolk,42.3188,-71.0852,4208580,5505.8,shape,False,True,America/New_York,1,02120 02121 02122 02124 02125 02126 02127 0212...,1840000455,16.35